body {
    text-align: center;
}

#frame {
    display: inline-block;
    background-color: red;
	margin-top: 15px;
	border: 2px solid black;
	border-radius: 25px;
    padding: 0 110px 0px 110px;
    box-shadow: 5px 5px 10px black;
}

h1 {
    color: goldenrod;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    text-shadow: 2px 2px 4px #000000;
    margin: 10px -60px;
}

h1 span {
    font-family: 'Qwigley', cursive;
    font-size: 80px;
}

p {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: goldenrod;
    text-shadow: 1px 1px 2px #000000;
    margin: 10px 5px 0px 5px;
}

p.toggle-label {
    margin: -3px 45px 2px 20px;
}

#left-knob {
    display: inline-block;
    float: left;
    background-color: white;
    box-shadow: 5px 5px 10px black;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 8px solid lightgray;
    margin: 15px 0px 20px -100px;
}

#right-knob {
    display: inline-block;
    float: right;
    background-color: white;
    box-shadow: 5px 5px 10px black;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 8px solid lightgray;
    margin: -90px -100px 20px 0;
}

#container {
    display: grid;
    justify-content: center;
    background-color: lightgray;
    box-shadow: 3px 3px 5px black, -3px -3px 5px black;
}

.square {
    background-color: lightgray;
}

.slidecontainer {
    width: 300px;
    margin: 2px auto;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    margin: 10px auto;
}

.slider::-webkit-slider-thumb { /* Set slider handle properties for Chrome, Opera, Safari, Edge */
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%; 
    background: white;
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb { /* Set slider handle properties for Firefox */
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: white;
    cursor: pointer; /* Cursor on hover */
}

/* CSS for toggle buttons; from https://www.w3schools.com/howto/howto_css_switch.asp */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.random-color {
    float: left;
    margin-left: 90px;
}

.erase {
    margin-left: 50px; 
}
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* The toggle button */
.toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}
  
.toggle:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .toggle {
    background-color: #2196F3;
}
  
input:focus + .toggle {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .toggle:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

button {
    background-color: navy;
    color: white;
    position: relative;
    top: -425px;
    left: 40px;
    padding: 15px 32px;
    font-size: 25px;
    border: 2px solid white;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: navy;
    border: 2px solid navy;
    animation-name: shakeAnim;
    animation-duration: 5s;
    animation-timing-function: ease-in;
}
  
@keyframes shakeAnim {
    0% {left: 40px}
    1% {left: 37pxpx}
    2% {left: 45px}
    3% {left: 32px}
    4% {left: 48px}
    5% {left: 35px}
    6% {left: 43px}
    7% {left: 40px}
}

